@model Appointments.Models.Appointment

@{
    ViewData["Title"] = "Registrate Page";
}

<div style="text-align:center;">
    <h4>Your account has been registrated</h4>
    <a asp-action="Login"><h4>Login</h4></a>
</div>
